.line-truncate-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
  }
  .imgDimension {
    width: 100%;
    height: 270px;
    object-fit: cover; 

  }